@import url(style.css);

.instructions {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
}

.marker {
	width: 30rem;
	cursor: pointer;
}

#info-31 {
	width: 30rem;
}

#gen-ataque {
	width: 25rem;
}

table.paleBlueRows {
	font-family: var(--body-font);
	border: 1px solid #000000;
	width: 350px;
	height: 200px;
	text-align: center;
	border-collapse: collapse;
}
table.paleBlueRows td,
table.paleBlueRows th {
	border: 1px solid #000000;
	padding: 3px 2px;
}
table.paleBlueRows tbody td {
	font-size: 13px;
}
table.paleBlueRows tr:nth-child(even) {
	background: #dfd8e8;
}
table.paleBlueRows thead {
	background: #8064a2;
	border-bottom: 2px solid #000000;
}
table.paleBlueRows thead th {
	font-size: 17px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	border-left: 2px solid #000000;
}
table.paleBlueRows thead th:first-child {
	border-left: none;
}

table.paleBlueRows tfoot td {
	font-size: 14px;
}

@media (max-width: 915px) {
}
