/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.chatbot-toggler {
  position: fixed;
  bottom: 60px;
  right: 30px;
  outline: none;
  border: none;
  height: 70px;
  width: 70px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #5a5eb9;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 130px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 5px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #39259c;
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.chatbot .chatbox {
  overflow-y: auto;
  height: 350px;
  padding: 30px 20px 100px;
  top: -90px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #e9e7e7;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #39259c;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #39259c;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #39259c;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

.logo_ia {
  width: 3em;
  height: 3em;
  margin-right: 5px;
  vertical-align: middle;
}

#close-icon {
  font-size: 30px; /* Tamaño del icono */
  margin-left: auto; /* Coloca el icono al final de la barra de encabezado */
  margin-right: 15px; /* Ajusta el espacio a la derecha del icono (ajusta según sea necesario) */
  margin-top: -10px; /* Mueve el icono hacia arriba (ajusta según sea necesario) */
  cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}

/*//////////////////////*/
/* Estilos para el FAQ */
body {
  color: #000;
}

.faq-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.faq-search {
  position: relative;
}

.faq-search input[type="text"] {
  width: 100%;
  padding: 12px; /* Ajusta el padding según sea necesario */
  font-size: 1rem; /* Ajusta el tamaño de la fuente según sea necesario */
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  border-radius: 30px;
  transition: all 0.3s ease;
}

/* Estilo del input cuando está enfocado */
input[type="text"]:focus { 
  border-color: #39259C; /* Color del borde al enfocar */
  box-shadow: 0 0 5px rgba(57, 37, 156, 0.5); /* Color de la sombra al enfocar */
}

/* Estilo del placeholder */
input[type="text"]::placeholder {
  color: #999;
  transition: color 0.3s ease;
}

/* Estilo del placeholder cuando el input está enfocado */
input[type="text"]:focus::placeholder {
  color: #666;
}

.faq-search button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.faq-button {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.faq-item {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;
}

.faq-content {
  padding: 0 16px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 0;
}

.faq-question:hover {
  text-decoration: underline;
}

.faq-question svg {
  transition: transform 0.3s ease;
}

.faq-question.open svg {
  transform: rotate(180deg);
}

.faq-content.open {
  max-height: 200px; /* ajusta según tu necesidad */
}

/*fin del css de FAQ*/


/*////////////////////////////*/
/*estilo para el FAQ tap-bar*/
.faqtext {
  color: black;
}
.faq {
  height: 350px;
  max-height: 400px; /* Establece la altura máxima según sea necesario */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
  transition: max-height 0.5s ease; /* Animación de transición */
}
.faq::-webkit-scrollbar {
  width: 7px; /* Ancho de la barra de desplazamiento */
}

/* Estilos CSS para la barra de pestañas */
.tab-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 0.1px;
}

.tab-btn {
  border-radius: 80px; /* Ajusta el radio de los bordes para hacerlos redondeados */
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.hori-selector {
  display: inline-block;
  position: absolute;
  bottom: 0px; /* Ajusta la posición vertical según sea necesario */
  left: 49%; /* Centra horizontalmente */
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 91px; /* Ajusta el ancho del selector */
  height: 38px; /* Ajusta la altura del selector */
  margin-top: 20px; /* Ajusta el margen superior para bajarlo */
}

.faq-search {
  position: relative;
  display: inline-block;
}

.search-input {
  padding-left: 30px; /* Ajusta según sea necesario para dar espacio al icono */
}

.faq-search i {
  position: absolute;
  left: 200px; /* Ajusta según sea necesario para alinear el icono */
  top: 50%;
  transform: translateY(-50%);
}


.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 0px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #39259c;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

/* Estilos CSS para los botones */
.tab-btn {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 1px 20px;
  margin-bottom: -5px; /* Ajusta el margen inferior según sea necesario */
  margin-right: 10px;
  color: #000;
  transition: margin 0.3s ease;
  position: relative; /* Añade posicionamiento relativo */
  z-index: 2; /* Asegura que estén por encima del selector */
}

#chatbot-tab {
  color: #39259c; /* Color del texto del botón "Chatbot" por defecto */
}

#faq-tab {
  color: #ffffff; /* Color del texto del botón "FAQ" por defecto */
}

.tab-btn:nth-child(2) {
  margin-right: 0;
}

/* Estilos CSS para esconder las FAQ inicialmente */
.faq {
  display: none;
}
/*fin del css tap-bar*/
ol {
  list-style-type: disc; /* Utiliza puntos como marcadores */
  margin-left: 15px;
}

/*css para las cartas faq*/
.slider {
  width: 500px; /* Ajusta el ancho del carrusel según tu preferencia */
  overflow: hidden;
  position: relative;
}

.slide {
  display: flex;
  transition: transform 0.5s ease;
}

.slide ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.card {
  width: 106px;
  height: 140px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: none;
  align-items: center;
  text-align: center;
  transition: background-color 0.8s ease; /* Agrega una transición suave */
  cursor: pointer;
}

.card:hover{
  box-shadow: 0 8px 16px #2a3387a5;
}

.card.selected {
  background-color: #ffffff; /* Cambia el color de fondo cuando está seleccionado */
  transition: background-color 0.5s ease; /* Agrega una transición suave */
  box-shadow: 0 8px 16px #2a3387a5;
}

.card.disabled {
  background-color: #ccc; /* Cambia el color de fondo cuando está desactivado */
  transition: background-color 0.5s ease; /* Agrega una transición suave */
  pointer-events: none; /* Desactiva los eventos de clic */
}

.name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5px;
}

.description {
  font-size: 10.78px;
  color: #666;
}

#option_faq {
  font-size: 28px;
  color: #39259c;
}


/* Ajustes para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .chatbot-toggler {
    position: fixed;
    right: 30px;
    float: right;
    bottom: 90px;
    width: 70px; /* Ajusta el ancho del botón */
    height: 70px; /* Ajusta la altura del botón */
  }

  .chatbot-toggler span {
    font-size: 1.2rem;
  }

  .chatbot {
    border-radius: 15px;
    width: calc(100% - 20px);
    right: 10px;
    top: 90px; /* Ajusta la posición desde la parte superior */
    height: 56vh;
  }

  .chatbot .chatbox {
    height: 60%;
  }

  .chat-input {
    padding: 5px 15px;
    margin-bottom: 10px
  }

  .chat-input textarea {
    height: 1px;
  }
}
/*codigo principal termina*/
